{% load i18n %}{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}MyHome{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .alert li, .messages li {
        list-style-type: none;
      }
      .hidden {
          display: none;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{% static 'bootstrap/assets/js/html5shiv.js' %}"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'bootstrap/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'bootstrap/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'bootstrap/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'bootstrap/ico/apple-touch-icon-57-precomposed.png' %}">
    <link rel="shortcut icon" href="{% static 'bootstrap/ico/favicon.png' %}">

{% block extrahead %}
{% endblock %}

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      {% block navbar %}
      <div class="navbar-inner">
        <div class="container">
          <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
             <a class="navbar-brand" href="/">MyHome</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
          <li><a href="{% url 'view' %}">{% trans "View" %}</a></li>
          {% if user.is_staff %}
          <li><a href="{% url 'location_list' %}">{% trans "Locations" %}</a></li>
            <li><a href="{% url 'admin:harjoitustyo_view_changelist' %}">{% trans "Views" %}</a></li>
            <li><a href="{% url 'user_list' %}">{% trans "Users" %}</a></li>
            <li><a href="{% url 'admin:index' %}">{% trans "Admin" %}</a></li>
          {% endif %}
          <li><a href="{% url 'django.contrib.auth.views.logout' %}">{% trans "Log out" %}</a></li>
        {% else %}
          <li><a href="{% url 'registration_register' %}">{% trans "Sign up" %}</a></li>
          <li><a href="{% url 'django.contrib.auth.views.login' %}">{% trans "Log in" %}</a></li>
        {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      {% endblock %}
    </nav>

    <div class="container">
    {% if messages %}
      <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% block localnav %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{% static 'harjoitustyo.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
