{% load i18n %}
{% block content %}
{{ form.non_field_errors }}
  {% csrf_token %}
  {# Include the hidden fields #}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  {% for field in form.visible_fields %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
      {% if field.errors %}
        {% for error in field.errors %}
          <div class="col-sm-offset-2 col-sm-10 alert alert-danger" role="alert">
            {{ error|escape }}
          </div>
        {% endfor %}
      {% endif %}
      <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}{{ field.label_suffix }}</label>
      <div class="col-sm-10">
        {{ field }}
      {% if field.help_text %}
      <span id="{{ field.id_for_label }}_help" class="help-block">{{ field.help_text|safe }}</span>
      {% endif %}
      </div>
    </div>
  {% endfor %}

  {% if buttons != 0 %}
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  {% endif %}
{% endblock %}
