{% load i18n %}
    <div class="form-row form-inline panel panel-default">
    {% for field in rowform.visible_fields %}
      <div class="form-group field-{{ field.name }}">
        {% if field.errors %}
           {% for error in field.errors %}
             <div class="col-sm-offset-2 col-sm-10 alert alert-danger" role="alert">
               {{ error|escape }}
             </div>
           {% endfor %}
         {% endif %}
        <label for="{{ field.id_for_label }}" class="col-sm-4 control-label">{{ field.label }}{{ field.label_suffix }}</label>
        <div class="col-sm-7">
          {{ field }}
        </div>
        {% if forloop.last %}
          {% for hidden in rowform.hidden_fields %}
            {{ hidden }}
          {% endfor %}
        {% endif %}
      </div>
      {% if forloop.first %}
      <div class="pure-u-1-8">
        <a href="#" class="delete-row close">{% trans "Delete" %}</a>
      </div>
      {% endif %}
    {% endfor %}
    </div>
