{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Locations" %}</h1>
<div class="list-group">
{% for location in locations %}
  <a class="list-group-item" href="{% url 'location_view' location.id %}">{{ location.name }}</a>
{% endfor %}
</div>
{% endblock %}
