{% extends "base.html" %}
{% block content %}
<h1>{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</h1>
<form action="{% url 'user_edit' user.id %}" method="post" class="form-horizontal">
  {% include "form.html" with form=uform buttons=0 %}
  {% include "form.html" with form=pform %}
</form>
{% endblock %}
