{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Users" %}</h1>
<div class="list-group">
{% for user in users %}
  <a class="list-group-item" href="{% url 'user_edit' user.id %}">{{ user.username }}</a>
{% endfor %}
</div>
{% endblock %}
