{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Views" %}</h1>
<div class="list-group">
{% for view in views %}
  <a class="list-group-item" href="{% url 'view_edit' view.id %}">{{ view.name }}</a>
{% endfor %}
</div>
{% endblock %}
