{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{{ view.name }}</h1>
{% for category in categories %}
<div class="panel panel-default">
  <div class="panel-heading"><h2 class="panel-title">{{ category.name }}</h2></div>
  {% for object in category.get_objects %}
  <div class="panel-body">
    <h3 class="panel-title">{{ object.name }}</h3>
    {% if object.object_type == 'PERC' %}
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" id="value-{{ object.id }}" aria-valuenow="{{ object.value }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ object.value }}%;">
          {{ object.value }} %
        </div>
      </div>
    {% elif object.object_type == 'BOOL' %}
      <ul class="nav nav-pills">
        <li role="presentation"{% if object.value == "0" %} class="active"{% endif %}><a href="{% url 'object_set_value' object.id 0 source %}">Off</a></li>
        <li role="presentation"{% if object.value == "1" %} class="active"{% endif %}><a href="{% url 'object_set_value' object.id 1 source %}">On</a></li>
      </ul>
    {% elif object.object_type == 'TEMPC' %}
      <span id="value-{{ object.id }}">{{ object.value }}</span>°C
    {% else %}
      <span id="value-{{ object.id }}">{{ object.value }}</span>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endfor %}
{% endblock %}
