{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{{ view.name }}</h1>
<form action="{% url 'view_edit' view.id %}" method="post" class="form-horizontal">
  {% include "form.html" %}

  {# Inline formsets #}
  {{ form.inlineformsets.categories.management_form }}
  {{ form.inlineformsets.categories.non_form_errors }}

  <button class="btn btn-small" id="add-new-row">{% trans "Add new row" %}</button>

  {# Button to add more formsets #}

  <div id="rows">
  {% for rowform in form.inlineformsets.categories.forms %}
    {% include "form-row-snippet.html" %}
  {% endfor %}
  </div>

  {# Hidden formset to use as a base for cloning #}
  <div class="hidden" id="empty-row-form">
    {% include "form-row-snippet.html" with rowform=form.inlineformsets.categories.empty_form %}
  </div>

</form>
{% endblock %}
