{% extends "registration/base.html" %}

{% block content %}
      <form class="form-signin" action="{% url 'auth_login' %}" method="post">
        <h1>Log in</h1>
        {% include "form.html" %}
      </form>
      <p>
        If you can't remember your details, you can
        <a href="{% url 'auth_password_reset' %}">reset your password</a>.
      </p>
{% endblock %}
