{% extends "registration/base.html" %}

{% block content %}
<h1>Password Change</h1>

<form action="{% url auth_password_change %}" method="POST">
{% csrf_token %}
<table>
  <tbody>{{form}}</tbody>
  <tfoot>
    <tr><td></td><td>
	<button type="submit">Change</button>
    </td></tr>
  </tfoot>
</table>

</form>
{% endblock %}

